# Ler tabelas em pdf com Python

### Instalação:

1. pip install tabula-py
2. verifique se tem o java no seu computador, caso contrário, instale o java
3. Reinicie o Jupyter
4. Usar no código
    - Caso mesmo assim o tabula dê algum erro e não reconheça o read_pdf, você pode importar:<br>from tabula.io import read_pdf

### Nosso exemplo:

- Faça o download do nosso PDF

- Local arquivo: http://www.vale.com/PT/investors/information-market/quarterly-results/ResultadosTrimestrais/Vale_IFRS_1T21_BRL_v26042021_vf.pdf

In [11]:
import tabula
import pandas as pd

In [4]:
lista_tabelas = tabula.read_pdf("ResultadoVale.pdf", pages = 'all') 

#pages = '12' para ver apenas na pagina 12 do pdf. Mais rapido e eficiente

print(f'Existem {len(lista_tabelas)} tabelas nesse PDF. (teoricamente)')

Existem 11 tabelas nesse PDF. (teoricamente)

In [5]:
for tabela in lista_tabelas:
    display(tabela)

   Em adição à remuneração ao acionista paga em março, nosso Conselho de Administração
0   aprovou um programa de recompra de até 5,3% do...
1                         circulação naquele momento.
2   A recompra demonstra a confiança da gestão no ...
3   valor consistentemente. Pautados pelo nosso pi...
4   capital”, consideramos a recompra de nossas aç...
5   disponíveis para a companhia, que não compete ...
6   distribuir dividendos acima do nível mínimo es...
7                                          Acionista.
8                                                 NaN
9                         Performance da Vale no 1T21
10  No 1T21, a Vale reportou um EBITDA ajustado pr...
11  um primeiro trimestre2, com volumes sazonalmen...

,•,"O preço médio de referência CFR foi de US$ 171,1/t, e o preço médio realizado"
0,NaN,"CFR/FOB da Vale foi de US$ 155,5/t, um aumento..."
1,NaN,"o 4T20, principalmente devido ao maior preço d..."
2,NaN,"prêmios e ajustes de qualidade, que foram parc..."
3,NaN,"negativo dos mecanismos de precificação, uma v..."
4,NaN,"marcados no final do trimestre em US$ 159,9/t,..."
5,NaN,"CFR de referência do trimestre, e (b) pela mai..."
6,NaN,preço menor devido à ausência de custos com fr...
7,•,Com preços de referência no mês de abril subst...
8,NaN,"de US$ 159,9/t, espera-se que o EBITDA do 2T21..."
9,NaN,preço final dessas vendas do 1T21 quando os na...
10,•,"O índice MB65% médio foi de US$ 191,2/dmt no 1..."
11,NaN,entre a média do MB65% e o preço de referência...
12,NaN,"ainda mais para cerca de US$ 24,3/t refletindo..."
13,NaN,siderúrgicas em um ambiente de altos preços do...
14,NaN,e escassez de minério de alta qualidade
15,•,O break-even do EBITDA de finos e pelotas de m...

,Indicadores financeiros selecionados,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,R$ milhões,NaN,NaN,NaN,Variação percentual
1,NaN,1T21,4T20,1T20,1T21/4T20 1T21/1T20
2,"Receita de vendas, líquida",69.301,78.938,31.251,"-12,2% 121,8%"
3,Custos e despesas,(27.359),(35.434),(21.619),"-22,8% 26,6%"
4,Despesas relacionadas a Brumadinho,(637),(25.002),(708),"-97,5% -10,0%"
5,EBIT (LAJIR) ajustado,41.729,18.987,9.248,"119,8% 351,2%"
6,Margem EBIT ajustado (%),"60,2%","24,1%","29,6%","150,3% 103,5%"
7,EBITDA (LAJIDA) ajustado,45.741,23.492,12.924,"94,7% 253,9%"
8,Lucro líquido atribuído aos acionistas da Vale,30.564,4.825,984,"533,5% n.m."
9,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN
11,Reconciliação LAJIDA,NaN,NaN,NaN,NaN
12,R$ milhões,NaN,1T21,NaN,4T20 1T20
13,Lucro líquido atribuído aos acionistas da Vale,NaN,30.564,NaN,4.825 984
14,Prejuízo atribuído aos acionistas não controla...,NaN,(375),NaN,(508) (347)
15,Lucro líquido,NaN,30.189,NaN,4.317 637
16,"Depreciação, exaustão e amortização",NaN,4.012,NaN,4.505 3.676
17,Tributos sobre lucro,NaN,9.950,NaN,1.014 (3.102)
18,Resultado financeiro,NaN,176,NaN,3.683 10.486
19,LAJIDA (EBITDA),NaN,44.327,13.519,11.697
20,Itens para reconciliação de LAJIDA (EBITDA) aj...,NaN,NaN,NaN,NaN
21,Redução ao valor recuperável e baixa de ativos...,NaN,NaN,NaN,NaN
22,NaN,NaN,897,NaN,7.815 136
23,circulantes,NaN,NaN,NaN,NaN
24,Resultado de participações e outros resultados...,NaN,NaN,NaN,NaN
25,NaN,NaN,93,NaN,1.673 767
26,e joint ventures,NaN,NaN,NaN,NaN
27,Dividendos recebidos e juros de coligadas e jo...,NaN,424,NaN,485 324
28,LAJIDA (EBITDA) ajustado,NaN,45.741,23.492,12.924

         US$ milhões     1T21      %     4T20    %.1     1T20    %.2
0  Minerais Ferrosos  608.000   60,3  763.000   52,8  627.000   55,8
1     Metais Básicos  359.000   35,6  566.000   39,2  352.000   31,3
2             Carvão   29.000    2,9   65.000    4,5   80.000    7,1
3   Energia e outros   13.000    1,3   50.000    3,5   65.000    5,8
4              Total    1.009  100,0    1.444  100,0    1.124  100,0

         US$ milhões  1T21      %  4T20    %.1  1T20    %.2
0  Minerais Ferrosos    82   53,9    69   47,9    91   62,8
1     Metais Básicos    68   44,7    55   38,2    52   35,9
2   Energia e outros     2    1,3    20   13,9     2    1,4
3              Total   152  100,0   144  100,0   145  100,0

         US$ milhões  1T21      %   4T20    %.1  1T20    %.2
0  Minerais Ferrosos   526   61,4  694.0   53,4   536   54,7
1     Metais Básicos   291   34,0  511.0   39,3   300   30,6
2             Níquel   266   31,0  465.0   35,8   238   24,3
3              Cobre    25    2,9   46.0    3,5    62    6,3
4             Carvão    29    3,4   65.0    5,0    80    8,2
5   Energia e outros    11    1,2   30.0    2,3    63    6,4
6              Total   857  100,0    1.3  100,0   979  100,0

  Unnamed: 0 Unnamed: 1  1T21  Total   2021  Total.1   (%)
0       osos        NaN   NaN    NaN    NaN      NaN   NaN
1      10 Mt       2S22  55.0  236.0  229.0    772.0  70%1

,Unnamed: 0,Minerais,Metais,Unnamed: 1,Energia e,Unnamed: 2
0,US$ milhões,NaN,NaN,Carvão,NaN,Total
1,NaN,Ferrosos,Básicos,NaN,outros,NaN
2,Melhorias nas operações,218,146,23,1,388
3,Projetos de reposição,34,110,-,-,144
4,Projetos de filtragem e dry stacking,128,-,-,-,128
5,Gestão de barragens,12,6,1,-,19
6,Outros investimentos em barragens e pilhas de ...,17,3,-,-,20
7,Saúde & Segurança,55,16,3,-,74
8,Investimentos sociais e proteção ambiental,20,3,1,-,24
9,Administrativo & Outros,42,7,1,9,59
10,Total,526,291,29,11,857

                                          US$ milhões     1T21    4T20    1T20
0                                      Dívida bruta 1   12.176  13.360  17.075
1   Caixa, equivalentes de caixa e aplicações fina...   14.312  14.258  12.267
2                                    Dívida líquida 1  (2.136)   (898)   4.808
3                             Arrendamentos (IFRS 16)    1.631   1.667   1.694
4                                     Swaps cambiais2    1.077     883     971
5                                               Refis    2.432   2.744   2.964
6                                Provisões Brumadinho    5.976   6.864   3.975
7                 Provisões Samarco & Fundação Renova    1.732   2.074   1.274
8                            Dívida líquida expandida   10.712  13.334  15.686
9              Dívida bruta / LTM EBITDA ajustado (x)      0,6     0,8     1,2
10           Dívida líquida / LTM EBITDA ajustado (x)    (0,1)   (0,1)     0,3
11          LTM EBITDA ajustado/ LTM juros brutos (x)     27,2    20,3    14,8

,R$ milhões 1T21,Unnamed: 0,4T20,1T20
0,"Receita de vendas, líquida 69.301",NaN,78.938,31.251
1,Custos dos produtos vendidos e serviços presta...,NaN,(30.792),(19.215)
2,Lucro bruto 43.904,NaN,48.146,12.036
3,"Margem bruta (%) 63,4%",NaN,"61,0%","38,5%"
4,Despesas com vendas e administrativas (577),NaN,(993),(516)
5,Despesas com pesquisa e desenvolvimento (552),NaN,(817),(429)
6,Despesas com pré-operacionais e paradas de ope...,NaN,(1.037),(1.192)
7,"Outras despesas operacionais, líquidas (41)",NaN,(1.795),(267)
8,Redução ao valor recuperável e baixa de ativos...,NaN,(7.815),(136)
9,Evento de Brumadinho (637),NaN,(25.002),(708)
10,Lucro operacional 40.408,NaN,10.687,8.788
11,Receitas financeiras 402,NaN,346,492
12,Despesas financeiras (7.538),NaN,(5.148),(2.290)
13,"Outros itens financeiros, líquido 6.960",NaN,1.119,(8.688)
14,Resultado de participações e outros resultados...,NaN,NaN,NaN
15,(93),NaN,(1.673),(767)
16,ventures,NaN,NaN,NaN
17,Lucro (prejuízo) antes dos tributos sobre o lu...,NaN,5.331,(2.465)
18,Tributo corrente (8.270),NaN,(10.476),(1.593)
19,Tributo diferido (1.680),NaN,9.462,4.695
20,Lucro líquido30.189,NaN,4.317,637
21,Prejuízo atribuído aos acionistas não controla...,NaN,(508),(347)
22,Lucro líquido atribuído aos acionistas da Vale...,NaN,4.825,984
23,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN
25,Resultado de participações societárias por áre...,NaN,NaN,NaN
26,R$ milhões 1T21,NaN,4T20,1T20
27,Minerais Ferrosos 86,NaN,67,(74)
28,Metais Básicos -,NaN,-,2
29,Outros (248),NaN,(300),(449)
30,Total (162),NaN,(233),(521)

,Balanço patrimonial – consolidado,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,R$ milhões,1T21,4T20,1T20
1,Ativo,NaN,NaN,NaN
2,Circulante,132.025,126.805,103.682
3,Não circulante,80.996,78.623,85.231
4,Investimentos,10.658,10.557,11.299
5,Intangíveis,49.343,48.309,35.852
6,Imobilizado,222.547,213.836,203.641
7,Total,495.569,478.130,439.705
8,Passivo,NaN,NaN,NaN
9,Circulante,67.379,75.838,60.186
10,Não circulante,226.288,221.306,206.623
11,Patrimônio líquido,201.902,180.986,172.896
12,Patrimônio líquido dos acionistas da Vale,207.487,185.785,178.854
13,Patrimônio líquido dos acionistas não controla...,(5.585),(4.799),(5.958)
14,Total,495.569,478.130,439.705

### Mas nem sempre a tabela vai vir bonitinha

In [26]:
lista_tabelas2 = tabula.read_pdf("ResultadoVale.pdf", pages = '10')

print(f'Achei apenas {len(lista_tabelas2)} tabela nessa página')

Achei apenas 1 tabela nessa página

In [24]:
tabela = lista_tabelas2[0]
# display(tabela)

#Veio duas tabelas falando que é uma so. Da uma reparada no arquivo fonte.

In [27]:
tabela = lista_tabelas2[0]
tabela.columns = tabela.iloc[0]

tabela[[0,1]] = tabela['Variação percentual'].str.split(' ', expand = True) # Arrumando a coluna de percentual

tabela = tabela[1:9] # Separando as duas tabelas

tabela = tabela.set_index('R$ milhões')  # Colocando R$ milhões no titulo

tabela.columns = tabela.iloc[0]
tabela = tabela[1:] #Ajuste final

tabela = tabela.drop('1T21/4T20 1T21/1T20', axis = 1)

display(tabela)

nan,1T21,4T20,1T20,1T21/4T20,1T21/1T20
R$ milhões,,,,,
"Receita de vendas, líquida",69.301,78.938,31.251,"-12,2%","121,8%"
Custos e despesas,(27.359),(35.434),(21.619),"-22,8%","26,6%"
Despesas relacionadas a Brumadinho,(637),(25.002),(708),"-97,5%","-10,0%"
EBIT (LAJIR) ajustado,41.729,18.987,9.248,"119,8%","351,2%"
Margem EBIT ajustado (%),"60,2%","24,1%","29,6%","150,3%","103,5%"
EBITDA (LAJIDA) ajustado,45.741,23.492,12.924,"94,7%","253,9%"
Lucro líquido atribuído aos acionistas da Vale,30.564,4.825,984,"533,5%",n.m.

### E se ele não tiver reconhecendo a tabela?

2 parâmetros para testar:

- lattice
- guess

In [29]:
# lattice
lista_df = tabula.read_pdf("ResultadoVale.pdf", pages="10", lattice=True)
display(lista_df[0])

print("*" * 50)

# guess
lista_df = tabula.read_pdf("ResultadoVale.pdf", pages="10", guess=False)
display(lista_df[0])

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,ndicadores financeiros selecionados,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R$ milhões,NaN,NaN,NaN,Variação percentual,NaN,NaN,NaN,NaN
3,$ milhões,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1T21,4T20,1T20,1T21/4T20,1T21/1T20,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Receita de vendas, líquida",69.301,78.938,31.251,"-12,2%","121,8%",NaN,NaN,NaN
8,"eceita de vendas, líquida",69.30,NaN,78.93,NaN,31.25,"-12,2%",NaN,NaN
9,NaN,(27.359),(35.434),(21.619),NaN,NaN,NaN,NaN,NaN
10,NaN,(27.359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Despesas relacionadas a Brumadinho,(637),(25.002),(708),"-97,5%","-10,0%",NaN,NaN,NaN
12,espesas relacionadas a Brumadinho,(637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,EBIT (LAJIR) ajustado,41.729,18.987,9.248,"119,8%","351,2%",NaN,NaN,NaN
14,BIT (LAJIR) ajustado,41.72,NaN,18.98,NaN,9.24,"119,8%",NaN,NaN
15,Margem EBIT ajustado (%),"60,2%","24,1%","29,6%","150,3%","103,5%",NaN,NaN,NaN
16,argem EBIT ajustado (%),"60,2",NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,EBITDA (LAJIDA) ajustado,45.741,23.492,12.924,"94,7%","253,9%",NaN,NaN,NaN
18,BITDA (LAJIDA) ajustado,45.74,NaN,23.49,NaN,12.92,"94,7%",NaN,NaN
19,Lucro líquido atribuído aos acionistas da Vale,30.564,4.825,984,"533,5%",n.m.,NaN,NaN,NaN
20,ucro líquido atribuído aos acionistas da Vale,30.56,NaN,4.82,NaN,98,"533,5%",NaN,NaN

**************************************************

,Unnamed: 0,Unnamed: 1
0,NaN,compensados por maiores receitas de subproduto...
1,NaN,mais altos do cobre no trimestre;
2,•,"O EBITDA dos negócios de Cobre foi de R$ 2,002..."
3,NaN,"abaixo do 4T20, principalmente devido aos meno..."
4,NaN,Uma ampla revisão de segurança para melhorar a...
5,NaN,disponibilidade de equipamentos de mineração e...
6,NaN,"menores volumes, os resultados foram afetados ..."
7,NaN,menor diluição de custos fixos e menores recei...
8,NaN,parcialmente compensados por maiores preços re...
9,NaN,melhorias das atividades de manutenção se mate...
10,NaN,NaN
11,Indicadores financeiros selecionados,NaN
12,R$ milhões,Variação percentual
13,NaN,1T21 4T20 1T20 1T21/4T20 1T21/1T20
14,"Receita de vendas, líquida","69.301 78.938 31.251 -12,2% 121,8%"
15,Custos e despesas,"(27.359) (35.434) (21.619) -22,8% 26,6%"
16,Despesas relacionadas a Brumadinho,"(637) (25.002) (708) -97,5% -10,0%"
17,EBIT (LAJIR) ajustado,"41.729 18.987 9.248 119,8% 351,2%"
18,Margem EBIT ajustado (%),"60,2% 24,1% 29,6% 150,3% 103,5%"
19,EBITDA (LAJIDA) ajustado,"45.741 23.492 12.924 94,7% 253,9%"
20,Lucro líquido atribuído aos acionistas da Vale,"30.564 4.825 984 533,5% n.m."
21,NaN,NaN
22,NaN,NaN
23,Reconciliação LAJIDA,NaN
24,R$ milhões,1T21 4T20 1T20
25,Lucro líquido atribuído aos acionistas da Vale,30.564 4.825 984
26,Prejuízo atribuído aos acionistas não controla...,(375) (508) (347)
27,Lucro líquido,30.189 4.317 637
28,"Depreciação, exaustão e amortização",4.012 4.505 3.676
29,Tributos sobre lucro,9.950 1.014 (3.102)
30,Resultado financeiro,176 3.683 10.486
31,LAJIDA (EBITDA),44.327 13.519 11.697
32,Itens para reconciliação de LAJIDA (EBITDA) aj...,NaN
33,Redução ao valor recuperável e baixa de ativos...,NaN
34,NaN,897 7.815 136
35,circulantes,NaN
36,Resultado de participações e outros resultados...,NaN
37,NaN,93 1.673 767
38,e joint ventures,NaN
39,Dividendos recebidos e juros de coligadas e jo...,424 485 324
40,LAJIDA (EBITDA) ajustado,45.741 23.492 12.924
41,NaN,NaN
42,NaN,NaN
43,NaN,NaN
44,NaN,10